@charset "UTF-8";
/******************************************************************
Site Name:
Author:

Stylesheet: Sass Functions

You can do a lot of really cool things in Sass. Functions help you
make repeated actions a lot easier. They are really similar to mixins,
but can be used for so much more.

Anyway, keep them all in here so it's easier to find when you're
looking for one.

For more info on functions, go here:
http://sass-lang.com/documentation/Sass/Script/Functions.html

******************************************************************/
/*********************
COLOR FUNCTIONS
These are helpful when you're working
with shadows and such things. It's essentially
a quicker way to write RGBA.

Example:
box-shadow: 0 0 4px black(0.3);
compiles to:
box-shadow: 0 0 4px rgba(0,0,0,0.3);
*********************/
/*********************
RESPONSIVE HELPER FUNCTION
If you're creating a responsive site, then
you've probably already read
Responsive Web Design: http://www.abookapart.com/products/responsive-web-design

Here's a nice little helper function for calculating
target / context
as mentioned in that book.

Example:
width: cp(650px, 1000px);
or
width: calc-percent(650px, 1000px);
both compile to:
width: 65%;
*********************/
/*********************
TRANSITION
*********************/
/*********************
CSS3 GRADIENTS
Be careful with these since they can
really slow down your CSS. Don't overdo it.
*********************/
/* @include horizontal-gradient(#f8f8f8,#fff, 50%, 50%); */
/* @include horizontal-gradient(#fff,#5abebe, 50%, 50%); */
/* @include horizontal-gradient(#e12534,#fff, 50%, 50%); */
/*********************
BOX SIZING
*********************/
/* @include box-sizing(border-box); */
/* NOTE: value of "padding-box" is only supported in Gecko. So
probably best not to use it. I mean, were you going to anyway? */
/*********************
BREAKPOINTS
https://css-tricks.com/snippets/sass/mixin-manage-breakpoints/
*********************/
/********************
Breakpoint more advanced
https://glennmccomb.com/articles/useful-sass-scss-media-query-mixins-for-bootstrap/
*********************/
/********************
	Bp only
*********************/
/*********************
COLORS
*********************/
/*********************
OTHERS
*********************/
/*********************
FA ICONS
*********************/
p {
  -ms-word-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  hyphens: none;
  -webkit-hyphenate-before: 2;
  -webkit-hyphenate-after: 3;
  hyphenate-lines: 3; }

article.home-overview {
  background-color: #f4f6f5; }
  article.home-overview .titles {
    color: #14213d;
    text-align: center; }
    @media (max-width: 739px) {
      article.home-overview .titles {
        margin-bottom: 20px; }
        article.home-overview .titles h2, article.home-overview .titles h1 {
          font-size: 24px; }
        article.home-overview .titles h3 {
          font-size: 18px; } }
    @media (min-width: 740px) {
      article.home-overview .titles {
        margin-bottom: 40px; } }
  @media (max-width: 739px) {
    article.home-overview .wrapper {
      max-width: 90%;
      margin: auto; } }
  @media (min-width: 740px) {
    article.home-overview .wrapper {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap; } }
  article.home-overview .wrapper .block {
    background-color: white;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    position: relative; }
    @media (max-width: 739px) {
      article.home-overview .wrapper .block:nth-child(n+1) {
        margin-top: 30px; } }
    @media (min-width: 740px) {
      article.home-overview .wrapper .block {
        max-width: 32%; } }
    article.home-overview .wrapper .block .edit-icon {
      position: absolute;
      right: 10px;
      top: 10px;
      background-color: #e5e5e5; }
    article.home-overview .wrapper .block .image {
      width: 100%; }
      article.home-overview .wrapper .block .image img {
        width: 100%;
        object-fit: cover;
        height: 200px; }
    article.home-overview .wrapper .block .content {
      padding: 30px 20px;
      color: black; }
      article.home-overview .wrapper .block .content .date {
        font-style: italic;
        font-size: 12px;
        margin-bottom: 5px;
        display: block; }
      @media (max-width: 739px) {
        article.home-overview .wrapper .block .content h3 {
          font-size: 18px; } }
      article.home-overview .wrapper .block .content h4 {
        font-size: 16px; }
        @media (max-width: 739px) {
          article.home-overview .wrapper .block .content h4 {
            font-size: 14px; } }
      article.home-overview .wrapper .block .content .btn-primary {
        margin-top: 20px;
        display: table; }

article.post-detailpage .wrapper .block {
  position: relative; }
  article.post-detailpage .wrapper .block .edit-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: #e5e5e5;
    font-size: 20px; }
  article.post-detailpage .wrapper .block .content {
    color: black;
    padding: 20px 30px; }
    article.post-detailpage .wrapper .block .content .bodyContent {
      margin: 20px 0;
      max-width: 90vw; }
      article.post-detailpage .wrapper .block .content .bodyContent code {
        max-width: 100%;
        white-space: normal;
        display: block; }

article.general-form .wrapper {
  max-width: 900px;
  margin: auto; }
  article.general-form .wrapper .form {
    border: 1px solid #14213d; }
    article.general-form .wrapper .form .form-header {
      background-color: #14213d;
      padding: 10px; }
      article.general-form .wrapper .form .form-header h1 {
        margin: 0;
        color: white; }
    article.general-form .wrapper .form .form-body {
      padding: 20px;
      color: #14213d; }
      article.general-form .wrapper .form .form-body label {
        color: #14213d;
        font-weight: 600; }
      article.general-form .wrapper .form .form-body .note-editing-area {
        color: #14213d; }
      article.general-form .wrapper .form .form-body .btn-primary {
        color: white; }

.toast .toast-body {
  color: #14213d; }

article.header {
  max-width: 100vw;
  overflow: hidden; }

footer {
  background-color: #14213d;
  width: 100%; }
  footer small {
    color: white; }
  footer a {
    color: white; }

.gutter {
  margin-left: 10px;
  margin-right: 10px; }
  @media (min-width: 740px) {
    .gutter {
      float: left; } }

.last-col {
  float: right;
  margin-right: 0; }

.col-1of2 {
  float: left;
  margin-right: 4%;
  width: 48%; }

@media (min-width: 740px) {
  .col-1of3 {
    float: left;
    margin-right: 5%;
    width: 30%; } }

@media (min-width: 740px) {
  .col-2of3 {
    float: left;
    margin-right: 5%;
    width: 65%; } }

@media (min-width: 740px) {
  .col-1of4 {
    float: left;
    margin-right: 4%;
    width: 22%; } }

@media (min-width: 740px) {
  .col-3of4 {
    float: left;
    margin-right: 4%;
    width: 74%; } }

@media (min-width: 740px) {
  .columns-6 {
    width: 340px; } }

@media (min-width: 980px) {
  .columns-6 {
    width: 460px; } }

@media (min-width: 1220px) {
  .columns-6 {
    width: 580px; } }

@media (min-width: 740px) {
  .columns-7 {
    width: 400px; } }

@media (min-width: 980px) {
  .columns-7 {
    width: 540px; } }

@media (min-width: 1220px) {
  .columns-7 {
    width: 680px; } }

@media (min-width: 740px) {
  .columns-8 {
    width: 460px; } }

@media (min-width: 980px) {
  .columns-8 {
    width: 620px; } }

@media (min-width: 1220px) {
  .columns-8 {
    width: 780px; } }

@media (min-width: 740px) {
  .columns-9 {
    width: 520px; } }

@media (min-width: 980px) {
  .columns-9 {
    width: 700px; } }

@media (min-width: 1220px) {
  .columns-9 {
    width: 880px; } }

@media (min-width: 740px) {
  .columns-10 {
    width: 580px; } }

@media (min-width: 980px) {
  .columns-10 {
    width: 780px; } }

@media (min-width: 1220px) {
  .columns-10 {
    width: 980px; } }

@media (min-width: 740px) {
  .columns-11 {
    width: 640px; } }

@media (min-width: 980px) {
  .columns-11 {
    width: 860px; } }

@media (min-width: 1220px) {
  .columns-11 {
    width: 1080px; } }

@media (min-width: 740px) {
  .columns-12 {
    width: 700px; } }

@media (min-width: 980px) {
  .columns-12 {
    width: 940px; } }

@media (min-width: 1220px) {
  .columns-12 {
    width: 1180px; } }

@media (min-width: 1220px) {
  .columns-12 {
    width: 1180px; } }

@media (min-width: 1320px) {
  .columns-12 {
    width: 1280px; } }

@media (min-width: 740px) {
  #zone-header,
  #zone-navigation,
  #zone-content,
  #zone-postscript,
  #zone-postscript-2,
  #zone-footer,
  #zone-footer-2 {
    width: 700px; } }

@media (min-width: 980px) {
  #zone-header,
  #zone-navigation,
  #zone-content,
  #zone-postscript,
  #zone-postscript-2,
  #zone-footer,
  #zone-footer-2 {
    width: 960px; } }

@media (min-width: 1220px) {
  #zone-header,
  #zone-navigation,
  #zone-content,
  #zone-postscript,
  #zone-postscript-2,
  #zone-footer,
  #zone-footer-2 {
    width: 1180px; } }

@media (min-width: 1320px) {
  #zone-header,
  #zone-navigation,
  #zone-content,
  #zone-postscript,
  #zone-postscript-2,
  #zone-footer,
  #zone-footer-2 {
    width: 1280px; } }

.btn-primary,
input[type="submit"],
button {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #fff;
  line-height: 1em;
  font-weight: 700;
  padding: 10px 15px 9px;
  border-radius: 5px;
  border: 2px solid;
  cursor: pointer; }
  .btn-primary:hover,
  input:hover[type="submit"],
  button:hover, .btn-primary:focus,
  input:focus[type="submit"],
  button:focus, .btn-primary:active,
  input:active[type="submit"],
  button:active {
    color: #fff;
    text-decoration: none;
    outline: none; }

.btn-primary,
input[type="submit"],
button {
  background-color: #14213d;
  color: white;
  border-color: #14213d; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active,
  input[type="submit"]:hover,
  input[type="submit"]:focus,
  input[type="submit"]:active,
  button:hover,
  button:focus,
  button:active {
    background-color: transparent;
    color: #14213d;
    border-color: #14213d; }

.buttons {
  padding-top: 20px; }
  .buttons .phone {
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
    color: white; }
    .buttons .phone i {
      margin: 0 2px 0 5px;
      display: inline-block; }
    .buttons .phone a {
      font-weight: 700;
      color: white; }
    @media (max-width: 739px) {
      .buttons .phone {
        margin-top: 15px; } }
    @media (min-width: 740px) {
      .buttons .phone {
        margin-left: 5px; } }
    @media (min-width: 980px) {
      .buttons .phone {
        margin-left: 10px; } }
    .buttons .phone.only-phone {
      margin-left: 0; }
      @media (max-width: 739px) {
        .buttons .phone.only-phone {
          letter-spacing: 0; } }
      @media (min-width: 740px) {
        .buttons .phone.only-phone {
          font-size: 14px; } }

html,
body {
  background-color: #f4f6f5; }

body {
  font-family: Nunito, "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-top: 56px;
  min-height: 100vh; }
  @media (max-width: 739px) {
    body {
      font-size: 16px; } }
  body.no-scroll {
    overflow: hidden;
    height: 100%; }
  body .slick-track, body .slick-list {
    transition: none; }

.page {
  position: relative;
  min-height: 100vh; }

* {
  box-sizing: border-box; }

p {
  margin-bottom: 1.5em; }
  p a {
    text-decoration: underline; }

img {
  height: auto;
  max-width: 100%; }

a,
a:hover,
div,
div:hover,
img,
img:hover,
input[type="submit"],
input[type="submit"]:hover,
button,
button:hover {
  transition: all 0.4s ease-in-out 0s; }

a {
  color: #414141;
  text-decoration: none; }
  a:hover, a:focus {
    text-decoration: underline; }
  a:link {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3); }

.site {
  background: #fff; }
  @media (min-width: 740px) {
    .site {
      max-width: 1920px;
      margin: 0 auto; } }

.entry-content p {
  margin: 0 0 1.5em; }

.entry-content table {
  width: 100%;
  border: 1px solid #eaedf2;
  margin-bottom: 1.5em; }
  .entry-content table th {
    background-color: #f8f9fa;
    border-bottom: 1px solid #eaedf2;
    border-right: 1px solid #eaedf2; }
    .entry-content table th:last-child {
      border-right: 0; }
  .entry-content table tr {
    border-bottom: 1px solid #eaedf2; }
    .entry-content table tr:nth-child(even) {
      background-color: #f8f9fa; }
  .entry-content table td {
    padding: 7px;
    border-right: 1px solid #eaedf2; }
    .entry-content table td:last-child {
      border-right: 0; }

.entry-content blockquote {
  margin: 0 0 1.5em 0.75em;
  padding: 0 0 0 0.75em;
  border-left: 3px solid #000; }

.entry-content img {
  max-width: 100%;
  height: auto; }

.entry-content ol {
  margin-left: 1.5em;
  list-style-type: decimal; }

.entry-content ul.angle li:before {
  content: ""; }

.entry-content ul.check li:before {
  content: ""; }

.entry-content ul.caret li:before {
  content: ""; }

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute; }

.background-block-overlay {
  height: 100%;
  width: 100%;
  background: #fca311;
  position: absolute;
  opacity: 0.8;
  border: 5px solid rgba(251, 196, 3, 0.3); }

.animated {
  opacity: 0; }
  .animated.show {
    opacity: 1;
    animation: zoomIn;
    animation-duration: 0.6s; }

a {
  color: #6d1900;
  -moz-transition: color 300ms ease;
  -o-transition: color 300ms ease;
  -ms-transition: color 300ms ease;
  transition: color 300ms ease; }
  a:hover {
    text-decoration: none;
    color: black !important; }

h1, h2 {
  word-break: break-word; }

.progress {
  position: absolute;
  top: 51px;
  left: 0;
  width: 100%;
  height: 5px; }

.toast {
  box-shadow: 0 0 2px #c5c5c0;
  position: fixed;
  bottom: 4px;
  right: 14px;
  width: 350px;
  z-index: 10;
  background-color: #f2eecb; }

.toast-header {
  background-color: #dad7c3; }

.display-1 {
  word-break: break-word; }

.page-item.active .page-link {
  background-color: #ece49b;
  border-color: #ece49b; }

.maxWidth576 {
  max-width: 576px; }

.maxWidth992 {
  max-width: 992px; }

.minHeight160 {
  min-height: 160px; }

.minHeight115 {
  min-height: 115px; }

.featureImage {
  height: 400px;
  object-fit: cover;
  width: 100%; }

.socialIcon {
  width: 25px;
  height: 25px;
  margin: 6px; }

.linkButton {
  white-space: nowrap;
  border: 1px solid #91908c !important;
  -moz-transition: border 300ms ease;
  -o-transition: border 300ms ease;
  -ms-transition: border 300ms ease;
  transition: border 300ms ease; }
  .linkButton:hover {
    text-decoration: none;
    border: 1px solid black !important; }

.rotate90 {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  filter: progid:dximagetransform.microsoft.basicimage(rotation=3); }

.topRightOuter {
  top: 76px;
  right: -50px; }

.topRightInner {
  top: 58px;
  right: -43px; }

.leftMediaFull {
  object-fit: cover;
  object-position: center;
  height: 94px;
  width: 175px; }

.leftMediaBlog {
  object-fit: cover;
  object-position: center;
  height: 113px;
  width: 175px; }

.leftMediaHalf {
  object-fit: cover;
  object-position: center;
  height: 140px;
  width: 143px; }

.datePosition {
  bottom: 12px; }

.bodyContent img {
  width: 100% !important;
  height: auto !important; }

.truncate {
  overflow: hidden;
  white-space: nowrap;
  width: 130px; }

.bg1 {
  background-color: #fffeeb; }

.bg2 {
  background-color: #f5efff; }

.bg3 {
  background-color: #f0fffa; }

@media (max-width: 576px) {
  .leftMediaFull, .leftMediaHalf, .leftMediaBlog {
    object-fit: cover;
    object-position: center;
    height: 175px;
    width: 100px; } }

.wrapper,
.grid {
  display: table;
  width: 100%; }

.center {
  margin: 0 auto;
  display: table; }
  @media (max-width: 739px) {
    .center {
      padding: 0px 10px; } }

.relative {
  position: relative; }

.image img {
  display: block; }

.text-center {
  text-align: center; }

.uppercase {
  text-transform: uppercase; }

.object-fit {
  background-size: cover;
  background-position: center; }

@media (max-width: 739px) {
  .mobile-none {
    display: none; } }

@media (min-width: 740px) {
  .mobile-only {
    display: none; } }

@media (max-width: 739px) {
  .pad-both {
    padding-top: 50px;
    padding-bottom: 50px; } }

@media (min-width: 740px) {
  .pad-both {
    padding-top: 75px;
    padding-bottom: 75px; } }

@media (max-width: 739px) {
  .pad-top {
    padding-top: 50px; } }

@media (min-width: 740px) {
  .pad-top {
    padding-top: 75px; } }

@media (max-width: 739px) {
  .pad-bottom {
    padding-bottom: 50px; } }

@media (min-width: 740px) {
  .pad-bottom {
    padding-bottom: 75px; } }

@media (max-width: 739px) {
  .pad-both-half {
    padding-top: 50px;
    padding-bottom: 50px; } }

@media (min-width: 740px) {
  .pad-both-half {
    padding-top: 75px;
    padding-bottom: 75px; } }

@media (max-width: 739px) {
  .pad-top-half {
    padding-top: 50px; } }

@media (min-width: 740px) {
  .pad-top-half {
    padding-top: 75px; } }

@media (max-width: 739px) {
  .pad-bottom-half {
    padding-bottom: 50px; } }

@media (min-width: 740px) {
  .pad-bottom-half {
    padding-bottom: 75px; } }

.navbar {
  background: #14213d; }
  .navbar .navbar-brand {
    color: #fca311; }
    .navbar .navbar-brand:hover {
      color: white !important; }
  .navbar a, .navbar .nav-item {
    color: white; }
    .navbar a .nav-link, .navbar .nav-item .nav-link {
      color: white; }
      .navbar a .nav-link:hover, .navbar .nav-item .nav-link:hover {
        color: #fca311 !important; }
    .navbar a:hover, .navbar .nav-item:hover {
      color: #fca311 !important; }

.custom-pagination {
  background: transparent;
  margin: 50px 0 0;
  padding: 0; }
  .custom-pagination .pagination {
    margin: 0; }
    .custom-pagination .pagination .page-item {
      cursor: pointer; }
      .custom-pagination .pagination .page-item.active .page-link {
        background: #fca311;
        border-color: #fca311; }
        .custom-pagination .pagination .page-item.active .page-link:hover {
          color: white; }
